/* Hlavní barvy */
body {
    background-color: white;
    color: #333333;
}

/* Obsah */
.content {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Formulář */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

p.text-danger {
    color: red;
    margin-top: 5px;
}

button.btn.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a.btn.btn-link {
    display: inline-block;
    margin-top: 10px;
    color: orange;
    text-decoration: none;
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    flex-grow: 1;
}

.menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #F46036;
    border-radius: 4px;
    margin-right: 10px;
    text-align: center;
}